@model Elmah.Web.Models.ErrorLogViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h1 style="padding-left: 50px">@Model.ApplicationName</h1>

@if (Model.Errors != null && Model.Errors.Count > 0)
{
    if (Model.TotalPage > 1)
    {
        <div class="container">
            Choose page: 
            @for (int i = 1; i < Model.TotalPage + 1; i++)
            {
                if (i == Model.PageNumber)
                {
                    <span>@i</span>
                }
                else
                {
                    <a href="/ErrorLog/?application=@Model.ApplicationName&pageNumber=@i">@i</a>
                }
            }
        </div>
    }
    <table class="result-table">
        <tr class="row result-header">
            <th>
                Host
            </th>
            <th>
                Code
            </th>
            <th>
                Type
            </th>
            <th>
                Error
            </th>
            <th>
                User
            </th>
            <th>
                Date
            </th>
        </tr>
        @foreach (var error in Model.Errors)
        {
            var userName = error.User.Length > 20 ? error.User.Substring(0, 20) : error.User;
            <tr class="row results-row">
                <td>
                    @error.Host
                </td>
                <td>
                    @error.StatusCode
                </td>
                <td style="font-weight: bold;">
                    @error.Type.Split('.').Last().ToString()
                </td>
                <td>
                    @error.Message.Substring(0, (error.Message.Length > 50 ? 50 : error.Message.Length))... <a href="/ErrorDisplay/?errorId=@error.Id">details</a>
                </td>
                <td>
                    @userName
                </td>
                <td>
                    @error.TimeUtc
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="no-Results">
        No errors found
    </div>
}